.section {
	margin: 40px 0px;
	overflow: auto;
}

	.video-section {
		margin: 0px auto 0px auto;
		padding: 10px;
		background: #f9f9f9;
		width: 95%;
		box-shadow: 0px 0px 8px #999;
		position: relative;
	}

		.bar-title {
			color: #fff;
			font-size: 32px;
			font-weight: bold;
			position: absolute;
			padding: 20px 20px;
			bottom: 14px;
			width: 97%;
			text-shadow: 0px 1px 3px #000;
			z-index: 20;
		}

		.video-section img {
			width: 100%;
		}

		img.grayscale {
		    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
		    filter: gray; /* IE6-9 */
		    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
		}


.specials-date-picker {
	width: 95%;
	margin: 20px auto 0px auto;
	background: #f9f9f9;
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-top: 1px solid #d0d0d0;
	overflow: auto;
}

	.date-picker1, .date-picker2 {
		width: 100%;
	}

	.date-picker1 td, .date-picker2 td {
		width: 14.2%;
		padding: 10px 0px;
		text-align: center;
		/*text-shadow: 0px -1px 0px #555;*/
		font-size: 28px;
		font-weight: bold;
		color: #909090;
		background: #d0d0d0;
		border: 1px solid #aaa;
		/*border-bottom: inset 10px solid #666;*/
	}

	.date-picker1 td.active-date, .date-picker2 td.active-date {
		background: #f9f9f9;
		color: #333;
		border: none;
	}

.specials-viewer, .hh-viewer {
	width: 95%;
	padding: 25px 25px 10px 25px;
	margin: auto;
	background: #f9f9f9;
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	overflow: auto;
}

	.specials-table {
		width: 100%;
	}

		.specials-table td:first-child {
			width: 65%;
			text-align: left;
		}

		.specials-table td:last-child {
			width: 35%;
			text-align: right;
		}

	.active-special {
		background: #34c5f3;
		border-radius: 5px;
		color: #fff;
		font-size: 28px;
		font-weight: bold;
		padding: 8px 13px;
		margin-bottom: 15px;
		display: inline-block;
	}

	.special-time {
		background: #42c01e;
		border-radius: 5px;
		color: #fff;
		font-size: 28px;
		font-weight: bold;
		padding: 8px 13px;
		margin-bottom: 20px;
		display: inline-block;
	}

.info-section {
	width: 95%;
	margin: 20px auto 0px auto;
	padding: 10px 25px 10px 25px;
	background: #f9f9f9;
	border: 1px solid #d0d0d0;
}

	.info-section span {
		font-weight: bold;
	}




